/*
	colour schemes: 
	rgb(59, 150, 219)
	rgb(114, 171, 214)
	rgb(194, 220, 240)
*/
body {
	background-color:rgb(150, 185, 212);
	font-family:helvicita;
}

h2 {
	font-weight: bold;
	color:rgb(194, 220, 240);
	font-family:PT mono;
}

.intro {
	height:250px;
	text-align: center;
	color: white;
	background-image: url(ocean.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding:70px;
	font-family:helvica;
}

.navbar {
	margin:5px;
/*	background-color:rgb(194, 220, 240);
*/	
	background-color:rgb(37, 88, 128);
	padding:5px;
}

.nav {
	text-decoration: none;
	text-align:center;
	padding:15px;
	color:white;
	font-family:calibri;
	font-size: 15px;
	font-weight: bold;
}

.nav:hover {
	background-color:	rgb(59, 150, 219);
	text-decoration:none;
	color:black;
	font-weight:bold;
}

.updates {
	background-color: rgb(216, 222, 227);
	padding:10px;
/*	padding-left: 10px;
*/}

.jmss {
	/*height:500px;*/
	text-align: center;
	font-family: lucida bright;
	padding:0px;
	background-color:rgb(37, 88, 128);
	color:white;
	margin:3px;
}

#info {
	font-family:helvica;
}

/*@media screen and (max-width: 800px) {
	.logo {
		width:75%;
		height:75%;
	}
}

@media screen and (max-width: 600px) {
	.logo {
		width:75%;
		height:75%;
	}
}*/

.bigimg {
	height:450px;
	width:700px;
	background-color: black;
}

.smallimg,.smallimg2{
	height:225px;
	width:350px;
	background-color:black;
}

@media screen and (max-width: 800px) {
	.bigimg {
		width: 500px;
	}

	.smallimg,.smallimg2 {
		width:200px;
	}
	.jmss {
		padding:0px;
	}

	h1{
		font-size: 30px;
	}

	h2{
		font-size:26px;
	}
}
@media screen and (max-width: 600px) {
	h1{
		font-size:28px;
	}
	h2 {
		font-size:25px;
	}

	.bigimg {
		width: 460px;
	}

	.smallimg,.smallimg2 {
		width:230px;
	}

	.jmss {
		padding:3px;
	}

}

.col-sm-4{
	margin:0px;
	background-color:rgb(114, 171, 214);
	padding:70px;
	font-size:20px;
}

.footer {
	height:200px;
	background-color:rgb(43, 75, 99);
	color:black;
	margin-top: 5px;
	padding:10px;
	color:white;
	text-align:center;
	font-family:helvica;
}

hr {
	background-color:white;
	width:50%;
}

.col-sm-8 {
	background-color:rgb(37, 88, 128);
	background-image: url(turtle.jpg);
	background-blend-mode: darken;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-size: fill;
	padding:3px;
}

#ups {
	color:rgb(37, 88, 128);
}

.bigimg:hover{
	background-blend-mode:lighten;
}

.smallimg,.smallimg2:hover{

}

.overlay {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity:0;
	height:100%;
	width:100%;
	transition:.5s ease;
	background-color:;
}

.col-sm-7:hover .overlay {
	opacity:1;
}



.col-sm-7:hover .bigimg {
	opacity:0.6;
}

.text {
	color:white;
	position:absolute;
	top:90%;
	left:65%;
	text-align: center;
	background-color: rgb(50, 51, 51);
	background-blend-mode: blur;
	padding:10px;
	font-family:pt mono;
	font-weight: bold;
	opacity:1;
	text-decoration: underline;
}

